main{
    padding: 10px 5vw;
    box-sizing: border-box;
}
.Message {
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
main > section:first-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
main > section:first-child > h2{
    font-size: 18px;
}
main > section:first-child > h3{
    font-weight: normal;
    font-size: 14px;
}
.results{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    width: 100%;
}
footer{
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}
footer > h2{
    color: rgba(0, 0, 0, 0.7);
    font-weight: normal;
    text-align: center;
    font-size: medium;
}
